In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Downloads/Indian_House_Rent_Dataset.csv")

In [3]:
df.head()

,Posted On,BHK,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Rent
0,NaN,2.0,1100.0,NaN,Super Area,Bandel,India-! Kolkata,Unfurnished,Bach^elors/Fam.ily,2.0,Contact Owner,10000
1,2022-05-13,2.0,800.0,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",India-! Kolkata,Semi-Furnished,Bachelors\/Family*,NaN,NaN,20000
2,2022-05-16,2.0,1000.0,1 out of 3,Super Area,Salt Lake City Sector 2,India-- Kolkata,Semi-Furnished,NaN,1.0,Contact Owner,17000
3,2022-07-04,2.0,800.0,1 out of 2,Super Area,NaN,NaN,Unfurnished,Bachel]ors/F@amily,1.0,NaN,10000
4,2022-05-09,2.0 room,850.0,1 out of 2,Carpet Area,South Dum Dum,India-^ Kolkata,Unfurnished,Bache[lors&,1.0,Contact Owner,7500

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4084 non-null   object
 1   BHK                3963 non-null   object
 2   Size               3826 non-null   object
 3   Floor              3960 non-null   object
 4   Area Type          3804 non-null   object
 5   Area Locality      4146 non-null   object
 6   City               4091 non-null   object
 7   Furnishing Status  4042 non-null   object
 8   Tenant Preferred   4094 non-null   object
 9   Bathroom           4205 non-null   object
 10  Point of Contact   4137 non-null   object
 11  Rent               4746 non-null   int64
dtypes: int64(1), object(11)
memory usage: 445.1+ KB

In [5]:
df.describe()

               Rent
count  4.746000e+03
mean   3.499345e+04
std    7.810641e+04
min    1.200000e+03
25%    1.000000e+04
50%    1.600000e+04
75%    3.300000e+04
max    3.500000e+06

In [6]:
df.isnull().sum()

Posted On            662
BHK                  783
Size                 920
Floor                786
Area Type            942
Area Locality        600
City                 655
Furnishing Status    704
Tenant Preferred     652
Bathroom             541
Point of Contact     609
Rent                   0
dtype: int64

In [7]:
df['BHK'].unique()

array(['2.0', '2.0 room', '1.0', nan, '3.0', '1.0 room', '6.0', '4.0',
       '3.0 room', '5.0', '5.0 room', '4.0 room', '6.0 room'],
      dtype=object)

In [8]:
df['BHK'] = df['BHK'].str.extract(r'(\d+)')

In [9]:
df['BHK'].unique()

array(['2', '1', nan, '3', '6', '4', '5'], dtype=object)

In [10]:
df['BHK'].value_counts()

BHK
2    1921
1     947
3     911
4     162
5      17
6       5
Name: count, dtype: int64

In [11]:
df['BHK'] = pd.to_numeric(df['BHK'])

In [12]:
df['Size'].unique()

array(['1100.0', '800.0', '1000.0', '850.0', '600.0', '700.0', '250.0',
       nan, '1200.0', '400.0', '375.0', '900.0', '1286.0', '2000.0',
       '650.0', '300.0', '1600.0', '355.0', '350.0', '550.0', '500.0',
       '630.0', '270.0', '1500.0', '1068.0', '150.0', '450.0', '720.0',
       '680.0', '950.0', '1800.0', '480.0', '435.0', '1300.0', '1450.0',
       '750.0', '220.0', '20.0', '200.0', '840.0', '740.0', '490.0',
       '280.0', '120.0', '1220.0', '670.0', '240.0', '2200.0', '685.0',
       '44.0', '392.0', '710.0', '1400.0', '160.0', '1250.0', '839.0',
       '230.0', '620.0', '1350.0Square Feet', '723.0', '320.0', '2160.0',
       '1700.0', '130.0', '505.0', '4000.0', '1190.0', '1012.0', '812.0',
       '420.0', '1750.0', '830.0', '1050.0', '960.0', '756.0', '288.0',
       '1600.0Square Feet', '986.0', '322.0', '957.0', '1430.0', '1320.0',
       '650.0Square Feet', '475.0', '550.0Square Feet', '570.0', '460.0',
       '530.0', '850.0Square Feet', '558.0', '175.0', '721.0', '2210.0',
       '675.0', '1880.0', '640.0', '518.0', '777.0', '2308.0', '890.0',
       '888.0', '275.0', '424.0', '610.0', '722.0', '1150.0', '470.0',
       '410.0', '435.0Square Feet', '932.0', '560.0', '3000.0', '751.0',
       '696.0', '2500.0', '715.0', '1337.0', '737.0', '760.0', '365.0',
       '2000.0Square Feet', '1330.0', '2600.0', '1783.0', '565.0',
       '1080.0', '825.0', '1545.0', '780.0', '695.0', '1095.0', '790.0',
       '661.0', '1350.0', '330.0', '925.0', '1105.0', '1460.0', '415.0',
       '1755.0', '628.0', '1064.0', '845.0', '1915.0', '807.0',
       '1100.0Square Feet', '380.0', '428.0', '1550.0', '860.0', '433.0',
       '1225.0', '1650.0', '305.0', '690.0', '635.0', '935.0', '535.0',
       '3700.0', '1208.0', '3200.0', '225.0', '1900.0', '905.0', '430.0',
       '795.0', '575.0', '656.0', '719.0', '3064.0', '3400.0', '980.0',
       '413.0', '1850.0', '1705.0', '1355.0', '610.0Square Feet', '471.0',
       '1528.0Square Feet', '1030.0', '583.0', '806.0', '390.0', '994.0',
       '520.0', '2750.0', '2424.0', '724.0', '1076.0', '485.0', '385.0',
       '704.0', '755.0', '700.0Square Feet', '625.0', '805.0', '742.0',
       '1265.0', '325.0', '1233.0', '2120.0', '1937.0', '596.0', '1950.0',
       '510.0', '1260.0', '770.0', '3900.0', '660.0Square Feet', '694.0',
       '1740.0', '472.0', '421.0', '831.0', '753.0', '2800.0', '1197.0',
       '880.0', '1088.0', '2650.0', '975.0', '1325.0', '785.0', '1016.0',
       '508.0', '623.0', '1358.0', '1255.0', '450.0Square Feet', '870.0',
       '1691.0', '615.0', '663.0', '1432.0', '425.0', '649.0', '882.0',
       '1710.0', '555.0', '854.0', '1130.0', '495.0', '407.0', '1092.0',
       '669.0', '725.0', '1110.0Square Feet', '1110.0', '999.0', '1256.0',
       '889.0', '660.0', '434.0', '1121.0', '937.0', '360.0', '379.0',
       '440.0', '582.0', '444.0', '1617.0', '836.0', '585.0', '2046.0',
       '730.0', '229.0', '910.0', '1648.0', '820.0', '771.0', '465.0',
       '1073.0', '310.0Square Feet', '1649.0', '1560.0',
       '4500.0Square Feet', '1425.0Square Feet', '1375.0', '920.0',
       '265.0', '1663.0', '377.0', '2080.0', '965.0', '2100.0Square Feet',
       '1380.0', '540.0', '500.0Square Feet', '970.0', '340.0', '641.0',
       '810.0', '875.0', '758.0', '2880.0', '1962.0', '590.0', '1120.0',
       '2729.0', '1040.0', '1403.0', '2608.0', '1400.0Square Feet',
       '1045.0', '1021.0', '1155.0', '2900.0', '3150.0',
       '100.0Square Feet', '1771.0', '773.0', '1840.0', '990.0', '1360.0',
       '1757.0', '1281.0', '3500.0', '1221.0', '416.0', '976.0', '1387.0',
       '1020.0', '400.0Square Feet', '1645.0', '3276.0', '1893.0',
       '1296.0', '455.0', '1066.0', '2150.0', '2110.0', '1025.0',
       '1180.0', '580.0', '904.0', '1252.0', '144.0', '1005.0', '1274.0',
       '1480.0', '4500.0', '600.0Square Feet', '1115.0', '1278.0',
       '4105.0', '1055.0', '800.0Square Feet', '1603.0',
       '1900.0Square Feet', '894.0', '2400.0', '1200.0Square Feet',
       '1680.0', '1475.0', '2100.0', '4341.0', '846.0', '110.0', '5700.0',
       '1760.0', '775.0', '445.0', '2710.0', '1768.0', '1280.0', '532.0',
       '1465.0', '940.0', '1789.0', '1618.0', '1580.0', '4550.0',
       '1333.0', '1875.0', '1065.0', '1660.0', '625.0Square Feet',
       '100.0', '1305.0', '1188.0', '2390.0', '1788.0', '1520.0',
       '1464.0', '180.0', '140.0', '70.0', '60.0', '170.0', '48.0',
       '1901.0', '145.0', '25.0', '892.0', '80.0', '45.0', '75.0',
       '1125.0', '50.0', '63.0', '1440.0', '55.0', '65.0', '2300.0',
       '84.0', '90.0', '446.0', '125.0', '2700.0', '30.0', '497.0',
       '95.0', '272.0', '585.0Square Feet', '2925.0', '96.0',
       '1800.0Square Feet', '545.0', '165.0', '1872.0', '40.0', '42.0',
       '3800.0', '1205.0', '950.0Square Feet', '900.0Square Feet', '77.0',
       '1000.0Square Feet', '1428.0', '2117.0', '1462.0', '674.0',
       '1540.0', '985.0', '930.0', '1234.0', '1162.0', '1425.0', '1145.0',
       '3600.0', '898.0', '2036.0', '115.0', '2064.0', '1557.0', '917.0',
       '579.0Square Feet', '1920.0', '1002.0', '778.0', '1567.0',
       '1113.0', '1175.0', '618.0', '705.0', '901.0', '1340.0', '1246.0',
       '1530.0', '1780.0', '1500.0Square Feet', '1402.0Square Feet',
       '1484.0', '1065.0Square Feet', '1140.0', '1525.0', '2550.0',
       '1132.0', '3300.0', '1785.0', '985.0Square Feet', '1975.0',
       '914.0', '1170.0Square Feet', '1444.0', '1503.0', '966.0',
       '2900.0Square Feet', '1570.0', '1157.0', '1153.0', '506.0',
       '749.0', '1107.0', '1235.0', '1415.0', '281.0', '6000.0', '926.0',
       '2280.0', '826.0', '1050.0Square Feet', '745.0', '833.0', '809.0',
       '1062.0', '2240.0', '1424.0', '1075.0', '2317.0', '1109.0',
       '1290.0', '939.0', '1610.0', '1420.0', '1152.0', '1144.0',
       '1903.0', '1383.0', '1912.0', '1146.0', '909.0',
       '1570.0Square Feet', '750.0Square Feet', '1270.0', '1625.0',
       '1535.0', '647.0', '2061.0', '919.0', '2210.0Square Feet',
       '1815.0', '2430.0', '1210.0', '1010.0', '2290.0', '1473.0',
       '4050.0Square Feet', '2520.0', '242.0', '1725.0', '878.0',
       '1956.0', '1955.0', '1090.0', '1070.0', '3133.0', '2050.0',
       '1565.0', '1135.0', '3698.0', '2405.0', '1248.0', '3115.0',
       '1374.0', '927.0', '562.0', '1720.0', '103.0', '1730.0', '133.0',
       '1315.0', '1230.0', '4761.0', '1970.0', '1940.0', '1170.0',
       '167.0', '933.0', '1960.0', '1275.0', '1285.0', '1742.0', '2235.0',
       '1283.0', '3455.0', '3050.0', '7000.0', '1606.0', '2352.0',
       '2671.0', '1156.0', '67.0', '1060.0', '2780.0', '1685.0', '853.0',
       '2310.0', '1965.0', '1834.0', '10.0', '3789.0', '1160.0', '1422.0',
       '1124.0', '4200.0', '3250.0', '214.0', '855.0'], dtype=object)

In [13]:
df['Size'] = df['Size'].str.extract(r'(\d+)')

In [14]:
df['Size'].unique()

array(['1100', '800', '1000', '850', '600', '700', '250', nan, '1200',
       '400', '375', '900', '1286', '2000', '650', '300', '1600', '355',
       '350', '550', '500', '630', '270', '1500', '1068', '150', '450',
       '720', '680', '950', '1800', '480', '435', '1300', '1450', '750',
       '220', '20', '200', '840', '740', '490', '280', '120', '1220',
       '670', '240', '2200', '685', '44', '392', '710', '1400', '160',
       '1250', '839', '230', '620', '1350', '723', '320', '2160', '1700',
       '130', '505', '4000', '1190', '1012', '812', '420', '1750', '830',
       '1050', '960', '756', '288', '986', '322', '957', '1430', '1320',
       '475', '570', '460', '530', '558', '175', '721', '2210', '675',
       '1880', '640', '518', '777', '2308', '890', '888', '275', '424',
       '610', '722', '1150', '470', '410', '932', '560', '3000', '751',
       '696', '2500', '715', '1337', '737', '760', '365', '1330', '2600',
       '1783', '565', '1080', '825', '1545', '780', '695', '1095', '790',
       '661', '330', '925', '1105', '1460', '415', '1755', '628', '1064',
       '845', '1915', '807', '380', '428', '1550', '860', '433', '1225',
       '1650', '305', '690', '635', '935', '535', '3700', '1208', '3200',
       '225', '1900', '905', '430', '795', '575', '656', '719', '3064',
       '3400', '980', '413', '1850', '1705', '1355', '471', '1528',
       '1030', '583', '806', '390', '994', '520', '2750', '2424', '724',
       '1076', '485', '385', '704', '755', '625', '805', '742', '1265',
       '325', '1233', '2120', '1937', '596', '1950', '510', '1260', '770',
       '3900', '660', '694', '1740', '472', '421', '831', '753', '2800',
       '1197', '880', '1088', '2650', '975', '1325', '785', '1016', '508',
       '623', '1358', '1255', '870', '1691', '615', '663', '1432', '425',
       '649', '882', '1710', '555', '854', '1130', '495', '407', '1092',
       '669', '725', '1110', '999', '1256', '889', '434', '1121', '937',
       '360', '379', '440', '582', '444', '1617', '836', '585', '2046',
       '730', '229', '910', '1648', '820', '771', '465', '1073', '310',
       '1649', '1560', '4500', '1425', '1375', '920', '265', '1663',
       '377', '2080', '965', '2100', '1380', '540', '970', '340', '641',
       '810', '875', '758', '2880', '1962', '590', '1120', '2729', '1040',
       '1403', '2608', '1045', '1021', '1155', '2900', '3150', '100',
       '1771', '773', '1840', '990', '1360', '1757', '1281', '3500',
       '1221', '416', '976', '1387', '1020', '1645', '3276', '1893',
       '1296', '455', '1066', '2150', '2110', '1025', '1180', '580',
       '904', '1252', '144', '1005', '1274', '1480', '1115', '1278',
       '4105', '1055', '1603', '894', '2400', '1680', '1475', '4341',
       '846', '110', '5700', '1760', '775', '445', '2710', '1768', '1280',
       '532', '1465', '940', '1789', '1618', '1580', '4550', '1333',
       '1875', '1065', '1660', '1305', '1188', '2390', '1788', '1520',
       '1464', '180', '140', '70', '60', '170', '48', '1901', '145', '25',
       '892', '80', '45', '75', '1125', '50', '63', '1440', '55', '65',
       '2300', '84', '90', '446', '125', '2700', '30', '497', '95', '272',
       '2925', '96', '545', '165', '1872', '40', '42', '3800', '1205',
       '77', '1428', '2117', '1462', '674', '1540', '985', '930', '1234',
       '1162', '1145', '3600', '898', '2036', '115', '2064', '1557',
       '917', '579', '1920', '1002', '778', '1567', '1113', '1175', '618',
       '705', '901', '1340', '1246', '1530', '1780', '1402', '1484',
       '1140', '1525', '2550', '1132', '3300', '1785', '1975', '914',
       '1170', '1444', '1503', '966', '1570', '1157', '1153', '506',
       '749', '1107', '1235', '1415', '281', '6000', '926', '2280', '826',
       '745', '833', '809', '1062', '2240', '1424', '1075', '2317',
       '1109', '1290', '939', '1610', '1420', '1152', '1144', '1903',
       '1383', '1912', '1146', '909', '1270', '1625', '1535', '647',
       '2061', '919', '1815', '2430', '1210', '1010', '2290', '1473',
       '4050', '2520', '242', '1725', '878', '1956', '1955', '1090',
       '1070', '3133', '2050', '1565', '1135', '3698', '2405', '1248',
       '3115', '1374', '927', '562', '1720', '103', '1730', '133', '1315',
       '1230', '4761', '1970', '1940', '167', '933', '1960', '1275',
       '1285', '1742', '2235', '1283', '3455', '3050', '7000', '1606',
       '2352', '2671', '1156', '67', '1060', '2780', '1685', '853',
       '2310', '1965', '1834', '10', '3789', '1160', '1422', '1124',
       '4200', '3250', '214', '855'], dtype=object)

In [15]:
df['Size'] = pd.to_numeric(df['Size'])

In [16]:
df['Size'].describe()

count    3826.000000
mean      967.802405
std       627.895502
min        10.000000
25%       551.250000
50%       845.500000
75%      1200.000000
max      7000.000000
Name: Size, dtype: float64

In [17]:
df['Floor'].unique()

array([nan, '1 out of 3', '1 out of 2', 'Ground out of 1',
       'Ground out of 4', '1 out of 4', '1 out of 1', 'Ground out of 2',
       'Ground out of 3', '2 out of 3', '4 out of 5', '2 out of 2',
       '2 out of 5', '3 out of 3', '5 out of 5', '4 out of 4',
       '7 out of 8', '2 out of 4', '3 out of 4', '1 out of 5',
       'Ground out of 6', 'Upper Basement out of 4', 'Ground out of 5',
       '3 out of 5', '11 out of 19', '5 out of 10', '11 out of 14',
       'Lower Basement out of 2', '2 out of 7', '4 out of 10',
       '7 out of 10', '2 out of 13', '6 out of 7', '4 out of 7',
       '14 out of 14', '43 out of 78', '2 out of 8', '13 out of 18',
       '18 out of 24', '3 out of 7', '17 out of 31', '11 out of 21',
       '14 out of 23', '19 out of 24', '3 out of 21', '8 out of 8',
       '6 out of 12', '4 out of 58', '60 out of 66', '34 out of 48',
       '5 out of 8', '14 out of 40', '5 out of 7', '26 out of 44',
       '1 out of 8', '25 out of 42', '25 out of 41', '53 out of 78',
       'Ground out of 7', '14 out of 20', '16 out of 23', '39 out of 60',
       '16 out of 21', '10 out of 32', '4 out of 8', '12 out of 24',
       '32 out of 41', '13 out of 21', '47 out of 89', '7 out of 41',
       '28 out of 30', '13 out of 15', '6 out of 21', '8 out of 16',
       '5 out of 19', '3 out of 11', '17 out of 42', '8 out of 28',
       '9 out of 15', '14 out of 22', '18 out of 40', '9 out of 17',
       '12 out of 45', '25 out of 35', '4 out of 14', '2 out of 6',
       'Upper Basement out of 20', '5 out of 14',
       'Upper Basement out of 9', '5 out of 20',
       'Upper Basement out of 40', '5 out of 18', '34 out of 58',
       '4 out of 6', '20 out of 22', '12 out of 19', '15 out of 18',
       '65 out of 78', '6 out of 16', '17 out of 22', '6 out of 24',
       '40 out of 75', '19 out of 38', '11 out of 28', '17 out of 24',
       '15 out of 19', '9 out of 10', '7 out of 12', '8 out of 20',
       '11 out of 13', '9 out of 19', '37 out of 51', '6 out of 11',
       '8 out of 15', '11 out of 20', '10 out of 23',
       'Upper Basement out of 10', '4 out of 11', '17 out of 43',
       '7 out of 22', '14 out of 18', '6 out of 10', '8 out of 12',
       '3 out of 18', '7 out of 7', '14 out of 58', '18 out of 23',
       '19 out of 19', '9 out of 20', '13 out of 14', '11 out of 22',
       'Upper Basement out of 30', '12 out of 14', '12 out of 13',
       '2 out of 12', '9 out of 22', '7 out of 14', '10 out of 22',
       '10 out of 12', '5 out of 13', '7 out of 21', '14 out of 21',
       '17 out of 25', '9 out of 14', '8 out of 27', '3 out of 6',
       '17 out of 20', '18 out of 22', '9 out of 30', '3 out of 8',
       '17 out of 27', '4 out of 12', '10 out of 24', '65 out of 76',
       '1 out of 7', '7 out of 9', '17 out of 60', '10 out of 16',
       '18 out of 25', '5 out of 11', '15 out of 17', '15 out of 23',
       '5 out of 17', '3 out of 28', '16 out of 32', '21 out of 22',
       '7 out of 13', '9 out of 12', '15 out of 32', '18 out of 27',
       '15 out of 16', '18 out of 45', '15 out of 15', '6 out of 14',
       '16 out of 36', '30 out of 44', '30 out of 37', '2 out of 9',
       '12 out of 22', '4 out of 9', '2 out of 22', '5 out of 6',
       '6 out of 18', '35 out of 55', '30 out of 45', '5 out of 12',
       '5 out of 9', '13 out of 23', '9 out of 38', '8 out of 13',
       '11 out of 24', '9 out of 16', '9 out of 31', '7 out of 15',
       '3 out of 9', '22 out of 30', '3 out of 58', '4 out of 15',
       '6 out of 8', '53 out of 60', '5 out of 22', '15 out of 22',
       '19 out of 21', '9 out of 40', 'Ground out of 8', '44 out of 75',
       '8 out of 17', '3 out of 14', '12 out of 31', '26 out of 42',
       '2 out of 45', '12 out of 68', '17 out of 36', '41 out of 41',
       '14 out of 68', '14 out of 17', '46 out of 76', '12 out of 20',
       '18 out of 32', '10 out of 25', '17 out of 29', '10 out of 31',
       '10 out of 15', '13 out of 16', '8 out of 10', '18 out of 21',
       '27 out of 58', '1 out of 6', '19 out of 25', '3 out of 15',
       '25 out of 43', '10 out of 14', '12 out of 18', '8 out of 14',
       '11 out of 12', '10 out of 13', '18 out of 19', '10 out of 20',
       '12 out of 29', '10 out of 18', 'Lower Basement out of 18',
       '48 out of 68', '12 out of 42', '15 out of 20', '16 out of 22',
       '35 out of 68', '18 out of 30', '11 out of 31', '50 out of 75',
       '18 out of 26', '12 out of 27', '16 out of 20', '24 out of 55',
       '16 out of 37', 'Upper Basement out of 7', '6 out of 15',
       '11 out of 27', '11 out of 23', '3 out of 12', '14 out of 48',
       '29 out of 35', '15 out of 36', '15 out of 25', '15 out of 28',
       '8 out of 11', '6 out of 20', '23 out of 23', '5 out of 15',
       '16 out of 18', '2 out of 10', '40 out of 50', '34 out of 40',
       'Upper Basement out of 22', '8 out of 23', '5 out of 21',
       '20 out of 32', '9 out of 18', '10 out of 37', '25 out of 48',
       '4 out of 22', '11 out of 11', '5 out of 23', '11 out of 18',
       '4 out of 20', '3 out of 13', '30 out of 58', '10 out of 11',
       '15 out of 43', '7 out of 16', 'Upper Basement out of 16',
       '9 out of 55', '11 out of 25', '7 out of 27', '14 out of 27',
       '16 out of 27', '25 out of 50', '6 out of 30', '21 out of 23',
       '20 out of 41', '3 out of 62', '4 out of 13', '7 out of 17',
       '12 out of 21', '15 out of 58', '36 out of 45', '9 out of 28',
       '22 out of 52', '10 out of 19', '21 out of 58', '48 out of 54',
       '11 out of 15', '8 out of 18', '19 out of 22', '15 out of 37',
       '7 out of 23', '2 out of 17', '5 out of 16', '76 out of 78',
       '3 out of 10', '20 out of 27', '8 out of 36', '14 out of 33',
       '21 out of 21', '12 out of 25', '18 out of 29', '14 out of 35',
       '7 out of 20', '20 out of 37', '9 out of 35', '27 out of 27',
       '19 out of 33', '18 out of 20', '13 out of 40', '15 out of 60',
       '9 out of 11', '8 out of 22', '27 out of 45', '19 out of 20',
       '32 out of 46', '19 out of 85', '3 out of 23', '34 out of 46',
       '15 out of 24', '4 out of 27', '19 out of 27', '35 out of 60',
       '9 out of 21', '21 out of 33', '2 out of 24', '24 out of 24',
       '18 out of 33', '1 out of 10', '45 out of 60', '60 out of 71',
       '36 out of 81', '24 out of 60', '16 out of 38', '8 out of 45',
       'Ground out of 16', '8 out of 32', '10 out of 10', '7 out of 19',
       '23 out of 40', '7 out of 18', '8 out of 19', '6 out of 17',
       '16 out of 34', 'Ground out of 12', '6 out of 9',
       'Ground out of 18', '20 out of 25', '9 out of 32', '26 out of 32',
       '12 out of 16', '17 out of 18', '24 out of 25', '19 out of 26',
       '17 out of 19', '14 out of 30', '8 out of 9', '1 out of 9',
       '3 out of 17', '12 out of 23', '1 out of 24', '1 out of 12', '3',
       '15 out of 29', '20 out of 20', '14 out of 29',
       'Lower Basement out of 1', '13 out of 17', '1 out of 14',
       '2 out of 14', '7 out of 11', '24 out of 31', '4 out of 16',
       '2 out of 16', '9 out of 13', '1 out of 11', '6 out of 29',
       '9 out of 9', '1 out of 15', 'Ground out of 14', '19 out of 31',
       '1 out of 16', '25 out of 32', '11 out of 16', '11 out of 17',
       'Upper Basement out of 3', '4 out of 24', '7 out of 30',
       'Ground out of 13', '2 out of 25', '23 out of 30', '4 out of 30',
       '13 out of 25', '23 out of 35', 'Ground out of 10', '5 out of 34',
       '12 out of 17', '20 out of 35', '1', '4 out of 31', '4 out of 26',
       '4 out of 17', '1 out of 35', '11 out of 35', 'Ground out of 15',
       'Ground out of 27', '15 out of 30', '12 out of 30',
       'Upper Basement out of 2', '6 out of 13', '23 out of 34'],
      dtype=object)

In [18]:
df['Floor_number'] = df['Floor'].str.split(" out of ").str[0]
df['Total_Floors'] = df['Floor'].str.split(" out of ").str[1]

In [19]:
df['Floor_number'].unique()

array([nan, '1', 'Ground', '2', '4', '3', '5', '7', 'Upper Basement',
       '11', 'Lower Basement', '6', '14', '43', '13', '18', '17', '19',
       '8', '60', '34', '26', '25', '53', '16', '39', '10', '12', '32',
       '47', '28', '9', '20', '15', '65', '40', '37', '21', '30', '35',
       '22', '44', '41', '46', '27', '48', '50', '24', '29', '23', '36',
       '76', '45'], dtype=object)

In [20]:
df['Floor_number'].replace({'Ground': 0 ,'Upper Basement':-1 , 'Lower Basement':-2}, inplace=True)

In [21]:
df['Floor_number'].unique()

array([nan, '1', 0, '2', '4', '3', '5', '7', -1, '11', -2, '6', '14',
       '43', '13', '18', '17', '19', '8', '60', '34', '26', '25', '53',
       '16', '39', '10', '12', '32', '47', '28', '9', '20', '15', '65',
       '40', '37', '21', '30', '35', '22', '44', '41', '46', '27', '48',
       '50', '24', '29', '23', '36', '76', '45'], dtype=object)

In [22]:
df['Total_Floors'].unique()

array([nan, '3', '2', '1', '4', '5', '8', '6', '19', '10', '14', '7',
       '13', '78', '18', '24', '31', '21', '23', '12', '58', '66', '48',
       '40', '44', '42', '41', '20', '60', '32', '89', '30', '15', '16',
       '11', '28', '22', '17', '45', '35', '9', '75', '38', '51', '43',
       '25', '27', '76', '36', '37', '55', '68', '29', '26', '50', '62',
       '52', '54', '33', '46', '85', '71', '81', '34'], dtype=object)

In [23]:
df['Floor_number'] = pd.to_numeric(df['Floor_number'])
df['Total_Floors'] = pd.to_numeric(df['Total_Floors'])

In [24]:
df['Area Type'].unique()

array(['Super Area', 'Carpet Area', nan, 'CARPET AREA', 'SUPER AREA',
       'Built Area'], dtype=object)

In [25]:
df['Area Type'] = df['Area Type'].str.capitalize()

In [26]:
df['Area Type'].unique()

array(['Super area', 'Carpet area', nan, 'Built area'], dtype=object)

In [27]:
df['Area Locality'].sample(20)

432                    Salt Lake City Sector 2
2486    Safdarjung Development Area, Hauz Khas
3413                                       NaN
3212                                Mandaiveli
2920                                 Pitampura
648                       Lake Florence, Powai
4067               Ashok Nagar, Himayath Nagar
2595                              Gautam Nagar
3208                                   T Nagar
1093            Island City Centre, Dadar East
3501                  Moulivakkam, Moulivakkam
1585                                       NaN
3621                                Arumbakkam
1520                                Nri Layout
1398                                       NaN
4411                            Petbasheerabad
1867                                       NaN
4053                                IAS Colony
901                              Borivali East
3953                               Narayanguda
Name: Area Locality, dtype: object

In [28]:
df['City'].unique()

array(['India-! Kolkata', 'India-- Kolkata', nan, 'India-^ Kolkata',
       'India-\\ Kolkata', 'India-% Kolkata', ',-9 Kolkata',
       'India-/ Kolkata', '(-9 Kolkata', '^-9 Kolkata', '--9 Kolkata',
       'India-* Kolkata', 'India-; Kolkata', 'India-. Kolkata',
       '!-9 Kolkata', ':-9 Kolkata', '\\-9 Kolkata', ';-9 Kolkata',
       'India-> Kolkata', '.-9 Kolkata', 'India-@ Kolkata',
       'India-{ Kolkata', 'India-[ Kolkata', 'India-| Kolkata',
       'India-} Kolkata', '"-9 Kolkata', '|-9 Kolkata', "'-9 Kolkata",
       '>-9 Kolkata', 'India-? Kolkata', '}-9 Kolkata', '#-9 Kolkata',
       'India-$ Kolkata', ']-9 Kolkata', 'India-< Kolkata', '$-9 Kolkata',
       'India-] Kolkata', '<-9 Kolkata', 'India-: Kolkata',
       'India-# Kolkata', 'India-+ Kolkata', '+-9 Kolkata',
       'India-& Kolkata', 'India-, Kolkata', '%-9 Kolkata',
       'India-( Kolkata', 'India-_ Kolkata', '@-9 Kolkata', '=-9 Kolkata',
       'India-" Kolkata', '/-9 Kolkata', '_-9 Kolkata', '?-9 Kolkata',
       ')-9 Kolkata', '*-9 Kolkata', 'India-= Kolkata', "India-' Kolkata",
       '{-9 Kolkata', '&-9 Kolkata', '[-9 Kolkata', 'India-) Kolkata',
       '=-9 Mumbai', '\\-9 Mumbai', 'India-- Mumbai', 'India-/ Mumbai',
       ']-9 Mumbai', '%-9 Mumbai', 'India-$ Mumbai', 'India-* Mumbai',
       'India-^ Mumbai', '?-9 Mumbai', '@-9 Mumbai', '+-9 Mumbai',
       "India-' Mumbai", 'India-} Mumbai', '}-9 Mumbai', 'India-! Mumbai',
       'India-+ Mumbai', 'India-> Mumbai', '*-9 Mumbai', 'India-( Mumbai',
       'India-, Mumbai', 'India-& Mumbai', '>-9 Mumbai',
       'India-\\ Mumbai', 'India-[ Mumbai', 'India-: Mumbai',
       'India-; Mumbai', '<-9 Mumbai', '"-9 Mumbai', 'India-< Mumbai',
       'India-? Mumbai', ')-9 Mumbai', '^-9 Mumbai', 'India-_ Mumbai',
       'India-) Mumbai', 'India-@ Mumbai', '|-9 Mumbai', '&-9 Mumbai',
       'India-" Mumbai', '/-9 Mumbai', '(-9 Mumbai', 'India-% Mumbai',
       '!-9 Mumbai', '--9 Mumbai', '$-9 Mumbai', '[-9 Mumbai',
       ',-9 Mumbai', ':-9 Mumbai', ';-9 Mumbai', 'India-# Mumbai',
       'India-] Mumbai', 'India-{ Mumbai', 'India-= Mumbai', "'-9 Mumbai",
       '_-9 Mumbai', 'India-| Mumbai', 'India-. Mumbai', '{-9 Mumbai',
       '.-9 Mumbai', '#-9 Mumbai', 'India-, Bangalore',
       'India-[ Bangalore', 'India-@ Bangalore', '_-9 Bangalore',
       '%-9 Bangalore', 'India-& Bangalore', '$-9 Bangalore',
       '?-9 Bangalore', '#-9 Bangalore', 'India-. Bangalore',
       ')-9 Bangalore', 'India-; Bangalore', '/-9 Bangalore',
       'India-# Bangalore', 'India-\\ Bangalore', 'India-* Bangalore',
       '!-9 Bangalore', 'India-| Bangalore', '\\-9 Bangalore',
       'India-< Bangalore', 'India-- Bangalore', 'India-/ Bangalore',
       'India-" Bangalore', '(-9 Bangalore', '--9 Bangalore',
       'India-? Bangalore', ';-9 Bangalore', '&-9 Bangalore',
       '+-9 Bangalore', 'India-( Bangalore', 'India-^ Bangalore',
       '{-9 Bangalore', '|-9 Bangalore', '"-9 Bangalore', "'-9 Bangalore",
       'India-: Bangalore', 'India-> Bangalore', 'India-! Bangalore',
       '>-9 Bangalore', 'India-} Bangalore', 'India-] Bangalore',
       '*-9 Bangalore', 'India-= Bangalore', "India-' Bangalore",
       'India-% Bangalore', 'India-$ Bangalore', '.-9 Bangalore',
       'India-{ Bangalore', '<-9 Bangalore', '@-9 Bangalore',
       ':-9 Bangalore', 'India-+ Bangalore', '^-9 Bangalore',
       '=-9 Bangalore', '[-9 Bangalore', '}-9 Bangalore',
       'India-_ Bangalore', 'India-) Bangalore', ']-9 Bangalore',
       ',-9 Bangalore', 'India-[ Delhi', 'India-, Delhi', '_-9 Delhi',
       'India-+ Delhi', 'India-! Delhi', '*-9 Delhi', "'-9 Delhi",
       ';-9 Delhi', '=-9 Delhi', '\\-9 Delhi', '?-9 Delhi', '{-9 Delhi',
       '/-9 Delhi', '$-9 Delhi', 'India-{ Delhi', '&-9 Delhi',
       'India-? Delhi', ']-9 Delhi', 'India-$ Delhi', '#-9 Delhi',
       'India-" Delhi', 'India-@ Delhi', 'India-. Delhi', '@-9 Delhi',
       'India-\\ Delhi', 'India-/ Delhi', 'India-^ Delhi',
       'India-( Delhi', '!-9 Delhi', '[-9 Delhi', 'India-} Delhi',
       ')-9 Delhi', '<-9 Delhi', 'India-] Delhi', '+-9 Delhi',
       'India-< Delhi', 'India-& Delhi', 'India-; Delhi', '|-9 Delhi',
       'India-_ Delhi', '.-9 Delhi', '(-9 Delhi', 'India-= Delhi',
       'India-> Delhi', '%-9 Delhi', 'India-# Delhi', ',-9 Delhi',
       'India-- Delhi', '>-9 Delhi', '^-9 Delhi', '--9 Delhi',
       'India-* Delhi', "India-' Delhi", 'India-: Delhi', ':-9 Delhi',
       'India-% Delhi', 'India-| Delhi', '}-9 Delhi', 'India-) Delhi',
       '"-9 Delhi', '%-9 Chennai', '^-9 Chennai', 'India-: Chennai',
       ']-9 Chennai', '--9 Chennai', 'India-) Chennai', 'India-( Chennai',
       'India-@ Chennai', '.-9 Chennai', '&-9 Chennai', '<-9 Chennai',
       '_-9 Chennai', '?-9 Chennai', '}-9 Chennai', '*-9 Chennai',
       'India-= Chennai', 'India-# Chennai', 'India-% Chennai',
       'India-[ Chennai', 'India-! Chennai', 'India-} Chennai',
       'India-< Chennai', 'India-^ Chennai', '@-9 Chennai',
       'India-* Chennai', 'India-\\ Chennai', '(-9 Chennai',
       'India-& Chennai', 'India-? Chennai', '=-9 Chennai',
       'India-] Chennai', 'India-+ Chennai', ')-9 Chennai',
       '\\-9 Chennai', '!-9 Chennai', 'India-{ Chennai', '"-9 Chennai',
       'India-; Chennai', 'India-> Chennai', '#-9 Chennai', "'-9 Chennai",
       ';-9 Chennai', '/-9 Chennai', '>-9 Chennai', 'India-- Chennai',
       ':-9 Chennai', 'India-. Chennai', '|-9 Chennai', '$-9 Chennai',
       ',-9 Chennai', 'India-| Chennai', 'India-/ Chennai', '{-9 Chennai',
       'India-" Chennai', '+-9 Chennai', 'India-_ Chennai',
       'India-$ Chennai', 'India-, Chennai', '[-9 Chennai',
       "India-' Chennai", 'India-! Hyderabad', ';-9 Hyderabad',
       '_-9 Hyderabad', 'India-[ Hyderabad', 'India-@ Hyderabad',
       'India-% Hyderabad', 'India-( Hyderabad', '>-9 Hyderabad',
       '(-9 Hyderabad', '\\-9 Hyderabad', 'India-< Hyderabad',
       'India-" Hyderabad', "'-9 Hyderabad", 'India-$ Hyderabad',
       'India-- Hyderabad', 'India-= Hyderabad', ':-9 Hyderabad',
       '|-9 Hyderabad', 'India-} Hyderabad', '%-9 Hyderabad',
       '#-9 Hyderabad', ',-9 Hyderabad', 'India-] Hyderabad',
       'India-. Hyderabad', '.-9 Hyderabad', 'India-? Hyderabad',
       'India-+ Hyderabad', '@-9 Hyderabad', '+-9 Hyderabad',
       'India-& Hyderabad', '^-9 Hyderabad', 'India-\\ Hyderabad',
       '&-9 Hyderabad', '=-9 Hyderabad', 'India-| Hyderabad',
       'India-; Hyderabad', '!-9 Hyderabad', '?-9 Hyderabad',
       'India-> Hyderabad', ']-9 Hyderabad', 'India-* Hyderabad',
       'India-^ Hyderabad', '}-9 Hyderabad', 'India-{ Hyderabad',
       '--9 Hyderabad', "India-' Hyderabad", '{-9 Hyderabad',
       '"-9 Hyderabad', 'India-: Hyderabad', 'India-/ Hyderabad',
       '<-9 Hyderabad', ')-9 Hyderabad', '/-9 Hyderabad',
       'India-) Hyderabad', 'India-_ Hyderabad', 'India-# Hyderabad',
       '[-9 Hyderabad', '*-9 Hyderabad', 'India-, Hyderabad',
       '$-9 Hyderabad'], dtype=object)

In [29]:
df['City'] = df['City'].str.split(' ').str[1]

In [30]:
df['City'].unique()

array(['Kolkata', nan, 'Mumbai', 'Bangalore', 'Delhi', 'Chennai',
       'Hyderabad'], dtype=object)

In [31]:
df['Furnishing Status'].unique()

array(['Unfurnished', 'Semi-Furnished', 'Furnished', nan], dtype=object)

In [32]:
df['Tenant Preferred'].unique()

array(['Bach^elors/Fam.ily', 'Bachelors\\/Family*', nan, ...,
       '!Bachelors+/Family', '$Family%', 'Bachelo%rs:'], dtype=object)

In [33]:
df['Tenant Preferred'] = df['Tenant Preferred'].str.replace(r'[^a-zA-Z]', '', regex=True)

In [34]:
df['Tenant Preferred'].unique()

array(['BachelorsFamily', nan, 'Bachelors', 'Family'], dtype=object)

In [35]:
df['Tenant Preferred'] = df['Tenant Preferred'].str.replace('BachelorsFamily', 'Bachelors/Family')

In [36]:
df['Tenant Preferred'].unique()

array(['Bachelors/Family', nan, 'Bachelors', 'Family'], dtype=object)

In [37]:
df['Bathroom'].unique()

array(['2.0', nan, '1.0', '1.0 Bathrooms', '2.0 Bathrooms', '3.0', '4.0',
       '5.0', '3.0 Bathrooms', '5.0 Bathrooms', '6.0', '4.0 Bathrooms',
       '7.0', '10.0'], dtype=object)

In [38]:
df['Bathroom'] = df['Bathroom'].str.extract(r'(\d+)')

In [39]:
df['Bathroom'] = pd.to_numeric(df['Bathroom'])

In [40]:
df['Point of Contact'].unique()

array(['Contact Owner', nan, 'Contact Agent'], dtype=object)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4084 non-null   object
 1   BHK                3963 non-null   float64
 2   Size               3826 non-null   float64
 3   Floor              3960 non-null   object
 4   Area Type          3804 non-null   object
 5   Area Locality      4146 non-null   object
 6   City               4091 non-null   object
 7   Furnishing Status  4042 non-null   object
 8   Tenant Preferred   4094 non-null   object
 9   Bathroom           4205 non-null   float64
 10  Point of Contact   4137 non-null   object
 11  Rent               4746 non-null   int64
 12  Floor_number       3960 non-null   float64
 13  Total_Floors       3957 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 519.2+ KB