In [6]:
import pandas as pd
data={
    "name":["rohan","atif","mehtab","ayan"],
    "age":[21,18,20,18],
    "deportment":["cs","ENC","mech","cp"]  
}
df=pd.DataFrame(data)
df

     name  age deportment
0   rohan   21         cs
1    atif   18        ENC
2  mehtab   20       mech
3    ayan   18         cp

In [12]:
a=df["age"]>10
a.sum()

4

In [23]:
b=filter(lambda x:x%2==0,df["age"])
print(list(b))

[18, 20, 18]

In [28]:
df["vectorize]=(df["age"]/df["code"])

SyntaxError: unterminated string literal (detected at line 1) (3889745295.py, line 1)

In [25]:
df["code"]=[10,20,55,64]

In [26]:
df

     name  age deportment  code
0   rohan   21         cs    10
1    atif   18        ENC    20
2  mehtab   20       mech    55
3    ayan   18         cp    64

In [31]:
df["vectorize"]=(df['age']/df['code'])
df

     name  age deportment  code  vectorize
0   rohan   21         cs    10   2.100000
1    atif   18        ENC    20   0.900000
2  mehtab   20       mech    55   0.363636
3    ayan   18         cp    64   0.281250

In [37]:
df add(x.y):


list=[10,30,50,60,70]
result=reduce(add,lis

SyntaxError: invalid syntax (107896373.py, line 1)

In [44]:
from functools import reduce
df add(x,y):
    return x+y


list=[10,20,30,40,50,60,70]
result=reduce(add,list)

SyntaxError: invalid syntax (4140959118.py, line 2)