In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv("Downloads/Indian_House_Rent_Dataset.csv")

In [6]:
print(df)

       Posted On       BHK    Size         Floor    Area Type  \
0            NaN       2.0  1100.0           NaN   Super Area
1     2022-05-13       2.0   800.0    1 out of 3   Super Area
2     2022-05-16       2.0  1000.0    1 out of 3   Super Area
3     2022-07-04       2.0   800.0    1 out of 2   Super Area
4     2022-05-09  2.0 room   850.0    1 out of 2  Carpet Area
...          ...       ...     ...           ...          ...
4741  2022-05-18       NaN  1000.0    3 out of 5  Carpet Area
4742         NaN       3.0  2000.0    1 out of 4   Super Area
4743  2022-07-10       NaN  1750.0           NaN          NaN
4744  2022-07-06       NaN  1500.0  23 out of 34  Carpet Area
4745  2022-05-04       2.0  1000.0    4 out of 5  Carpet Area

                 Area Locality               City Furnishing Status  \
0                       Bandel    India-! Kolkata       Unfurnished
1     Phool Bagan, Kankurgachi    India-! Kolkata    Semi-Furnished
2      Salt Lake City Sector 2    India-- Kolkata    Semi-Furnished
3                          NaN                NaN       Unfurnished
4                South Dum Dum    India-^ Kolkata       Unfurnished
...                        ...                ...               ...
4741              Bandam Kommu  India-< Hyderabad    Semi-Furnished
4742                       NaN  India-| Hyderabad    Semi-Furnished
4743                       NaN      %-9 Hyderabad    Semi-Furnished
4744                Gachibowli  India-{ Hyderabad    Semi-Furnished
4745           Suchitra Circle      _-9 Hyderabad               NaN

        Tenant Preferred Bathroom Point of Contact   Rent
0     Bach^elors/Fam.ily      2.0    Contact Owner  10000
1     Bachelors\/Family*      NaN              NaN  20000
2                    NaN      1.0    Contact Owner  17000
3     Bachel]ors/F@amily      1.0              NaN  10000
4            Bache[lors&      1.0    Contact Owner   7500
...                  ...      ...              ...    ...
4741  Bachelors/Fa:mily!      2.0    Contact Owner  15000
4742  B?achelors,/Family      3.0    Contact Owner  29000
4743  !Bachelors+/Family      3.0              NaN  35000
4744            $Family%      2.0    Contact Agent  45000
4745         Bachelo%rs:      2.0              NaN  15000

[4746 rows x 12 columns]

In [7]:
df.head()

,Posted On,BHK,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Rent
0,NaN,2.0,1100.0,NaN,Super Area,Bandel,India-! Kolkata,Unfurnished,Bach^elors/Fam.ily,2.0,Contact Owner,10000
1,2022-05-13,2.0,800.0,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",India-! Kolkata,Semi-Furnished,Bachelors\/Family*,NaN,NaN,20000
2,2022-05-16,2.0,1000.0,1 out of 3,Super Area,Salt Lake City Sector 2,India-- Kolkata,Semi-Furnished,NaN,1.0,Contact Owner,17000
3,2022-07-04,2.0,800.0,1 out of 2,Super Area,NaN,NaN,Unfurnished,Bachel]ors/F@amily,1.0,NaN,10000
4,2022-05-09,2.0 room,850.0,1 out of 2,Carpet Area,South Dum Dum,India-^ Kolkata,Unfurnished,Bache[lors&,1.0,Contact Owner,7500

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4084 non-null   object
 1   BHK                3963 non-null   object
 2   Size               3826 non-null   object
 3   Floor              3960 non-null   object
 4   Area Type          3804 non-null   object
 5   Area Locality      4146 non-null   object
 6   City               4091 non-null   object
 7   Furnishing Status  4042 non-null   object
 8   Tenant Preferred   4094 non-null   object
 9   Bathroom           4205 non-null   object
 10  Point of Contact   4137 non-null   object
 11  Rent               4746 non-null   int64
dtypes: int64(1), object(11)
memory usage: 445.1+ KB

In [9]:
df.describe()

               Rent
count  4.746000e+03
mean   3.499345e+04
std    7.810641e+04
min    1.200000e+03
25%    1.000000e+04
50%    1.600000e+04
75%    3.300000e+04
max    3.500000e+06

In [10]:
df.isnull().sum()

Posted On            662
BHK                  783
Size                 920
Floor                786
Area Type            942
Area Locality        600
City                 655
Furnishing Status    704
Tenant Preferred     652
Bathroom             541
Point of Contact     609
Rent                   0
dtype: int64

In [18]:
df['BHK'].unique()

array(['2', '1', nan, '3', '6', '4', '5'], dtype=object)

In [19]:
df['BHK'] = df['BHK'].str.extract(r'(\d+)')

In [16]:

df['BHK'].unique()

array(['2', '1', nan, '3', '6', '4', '5'], dtype=object)

In [20]:
df['BHK'].value_counts()

BHK
2    1921
1     947
3     911
4     162
5      17
6       5
Name: count, dtype: int64

In [21]:
df['BHK'] = pd.to_numeric(df['BHK'])

In [22]:
df['Size'].unique()

array(['1100.0', '800.0', '1000.0', '850.0', '600.0', '700.0', '250.0',
       nan, '1200.0', '400.0', '375.0', '900.0', '1286.0', '2000.0',
       '650.0', '300.0', '1600.0', '355.0', '350.0', '550.0', '500.0',
       '630.0', '270.0', '1500.0', '1068.0', '150.0', '450.0', '720.0',
       '680.0', '950.0', '1800.0', '480.0', '435.0', '1300.0', '1450.0',
       '750.0', '220.0', '20.0', '200.0', '840.0', '740.0', '490.0',
       '280.0', '120.0', '1220.0', '670.0', '240.0', '2200.0', '685.0',
       '44.0', '392.0', '710.0', '1400.0', '160.0', '1250.0', '839.0',
       '230.0', '620.0', '1350.0Square Feet', '723.0', '320.0', '2160.0',
       '1700.0', '130.0', '505.0', '4000.0', '1190.0', '1012.0', '812.0',
       '420.0', '1750.0', '830.0', '1050.0', '960.0', '756.0', '288.0',
       '1600.0Square Feet', '986.0', '322.0', '957.0', '1430.0', '1320.0',
       '650.0Square Feet', '475.0', '550.0Square Feet', '570.0', '460.0',
       '530.0', '850.0Square Feet', '558.0', '175.0', '721.0', '2210.0',
       '675.0', '1880.0', '640.0', '518.0', '777.0', '2308.0', '890.0',
       '888.0', '275.0', '424.0', '610.0', '722.0', '1150.0', '470.0',
       '410.0', '435.0Square Feet', '932.0', '560.0', '3000.0', '751.0',
       '696.0', '2500.0', '715.0', '1337.0', '737.0', '760.0', '365.0',
       '2000.0Square Feet', '1330.0', '2600.0', '1783.0', '565.0',
       '1080.0', '825.0', '1545.0', '780.0', '695.0', '1095.0', '790.0',
       '661.0', '1350.0', '330.0', '925.0', '1105.0', '1460.0', '415.0',
       '1755.0', '628.0', '1064.0', '845.0', '1915.0', '807.0',
       '1100.0Square Feet', '380.0', '428.0', '1550.0', '860.0', '433.0',
       '1225.0', '1650.0', '305.0', '690.0', '635.0', '935.0', '535.0',
       '3700.0', '1208.0', '3200.0', '225.0', '1900.0', '905.0', '430.0',
       '795.0', '575.0', '656.0', '719.0', '3064.0', '3400.0', '980.0',
       '413.0', '1850.0', '1705.0', '1355.0', '610.0Square Feet', '471.0',
       '1528.0Square Feet', '1030.0', '583.0', '806.0', '390.0', '994.0',
       '520.0', '2750.0', '2424.0', '724.0', '1076.0', '485.0', '385.0',
       '704.0', '755.0', '700.0Square Feet', '625.0', '805.0', '742.0',
       '1265.0', '325.0', '1233.0', '2120.0', '1937.0', '596.0', '1950.0',
       '510.0', '1260.0', '770.0', '3900.0', '660.0Square Feet', '694.0',
       '1740.0', '472.0', '421.0', '831.0', '753.0', '2800.0', '1197.0',
       '880.0', '1088.0', '2650.0', '975.0', '1325.0', '785.0', '1016.0',
       '508.0', '623.0', '1358.0', '1255.0', '450.0Square Feet', '870.0',
       '1691.0', '615.0', '663.0', '1432.0', '425.0', '649.0', '882.0',
       '1710.0', '555.0', '854.0', '1130.0', '495.0', '407.0', '1092.0',
       '669.0', '725.0', '1110.0Square Feet', '1110.0', '999.0', '1256.0',
       '889.0', '660.0', '434.0', '1121.0', '937.0', '360.0', '379.0',
       '440.0', '582.0', '444.0', '1617.0', '836.0', '585.0', '2046.0',
       '730.0', '229.0', '910.0', '1648.0', '820.0', '771.0', '465.0',
       '1073.0', '310.0Square Feet', '1649.0', '1560.0',
       '4500.0Square Feet', '1425.0Square Feet', '1375.0', '920.0',
       '265.0', '1663.0', '377.0', '2080.0', '965.0', '2100.0Square Feet',
       '1380.0', '540.0', '500.0Square Feet', '970.0', '340.0', '641.0',
       '810.0', '875.0', '758.0', '2880.0', '1962.0', '590.0', '1120.0',
       '2729.0', '1040.0', '1403.0', '2608.0', '1400.0Square Feet',
       '1045.0', '1021.0', '1155.0', '2900.0', '3150.0',
       '100.0Square Feet', '1771.0', '773.0', '1840.0', '990.0', '1360.0',
       '1757.0', '1281.0', '3500.0', '1221.0', '416.0', '976.0', '1387.0',
       '1020.0', '400.0Square Feet', '1645.0', '3276.0', '1893.0',
       '1296.0', '455.0', '1066.0', '2150.0', '2110.0', '1025.0',
       '1180.0', '580.0', '904.0', '1252.0', '144.0', '1005.0', '1274.0',
       '1480.0', '4500.0', '600.0Square Feet', '1115.0', '1278.0',
       '4105.0', '1055.0', '800.0Square Feet', '1603.0',
       '1900.0Square Feet', '894.0', '2400.0', '1200.0Square Feet',
       '1680.0', '1475.0', '2100.0', '4341.0', '846.0', '110.0', '5700.0',
       '1760.0', '775.0', '445.0', '2710.0', '1768.0', '1280.0', '532.0',
       '1465.0', '940.0', '1789.0', '1618.0', '1580.0', '4550.0',
       '1333.0', '1875.0', '1065.0', '1660.0', '625.0Square Feet',
       '100.0', '1305.0', '1188.0', '2390.0', '1788.0', '1520.0',
       '1464.0', '180.0', '140.0', '70.0', '60.0', '170.0', '48.0',
       '1901.0', '145.0', '25.0', '892.0', '80.0', '45.0', '75.0',
       '1125.0', '50.0', '63.0', '1440.0', '55.0', '65.0', '2300.0',
       '84.0', '90.0', '446.0', '125.0', '2700.0', '30.0', '497.0',
       '95.0', '272.0', '585.0Square Feet', '2925.0', '96.0',
       '1800.0Square Feet', '545.0', '165.0', '1872.0', '40.0', '42.0',
       '3800.0', '1205.0', '950.0Square Feet', '900.0Square Feet', '77.0',
       '1000.0Square Feet', '1428.0', '2117.0', '1462.0', '674.0',
       '1540.0', '985.0', '930.0', '1234.0', '1162.0', '1425.0', '1145.0',
       '3600.0', '898.0', '2036.0', '115.0', '2064.0', '1557.0', '917.0',
       '579.0Square Feet', '1920.0', '1002.0', '778.0', '1567.0',
       '1113.0', '1175.0', '618.0', '705.0', '901.0', '1340.0', '1246.0',
       '1530.0', '1780.0', '1500.0Square Feet', '1402.0Square Feet',
       '1484.0', '1065.0Square Feet', '1140.0', '1525.0', '2550.0',
       '1132.0', '3300.0', '1785.0', '985.0Square Feet', '1975.0',
       '914.0', '1170.0Square Feet', '1444.0', '1503.0', '966.0',
       '2900.0Square Feet', '1570.0', '1157.0', '1153.0', '506.0',
       '749.0', '1107.0', '1235.0', '1415.0', '281.0', '6000.0', '926.0',
       '2280.0', '826.0', '1050.0Square Feet', '745.0', '833.0', '809.0',
       '1062.0', '2240.0', '1424.0', '1075.0', '2317.0', '1109.0',
       '1290.0', '939.0', '1610.0', '1420.0', '1152.0', '1144.0',
       '1903.0', '1383.0', '1912.0', '1146.0', '909.0',
       '1570.0Square Feet', '750.0Square Feet', '1270.0', '1625.0',
       '1535.0', '647.0', '2061.0', '919.0', '2210.0Square Feet',
       '1815.0', '2430.0', '1210.0', '1010.0', '2290.0', '1473.0',
       '4050.0Square Feet', '2520.0', '242.0', '1725.0', '878.0',
       '1956.0', '1955.0', '1090.0', '1070.0', '3133.0', '2050.0',
       '1565.0', '1135.0', '3698.0', '2405.0', '1248.0', '3115.0',
       '1374.0', '927.0', '562.0', '1720.0', '103.0', '1730.0', '133.0',
       '1315.0', '1230.0', '4761.0', '1970.0', '1940.0', '1170.0',
       '167.0', '933.0', '1960.0', '1275.0', '1285.0', '1742.0', '2235.0',
       '1283.0', '3455.0', '3050.0', '7000.0', '1606.0', '2352.0',
       '2671.0', '1156.0', '67.0', '1060.0', '2780.0', '1685.0', '853.0',
       '2310.0', '1965.0', '1834.0', '10.0', '3789.0', '1160.0', '1422.0',
       '1124.0', '4200.0', '3250.0', '214.0', '855.0'], dtype=object)